body{
  background-image: url('bg.jpg');
  background-repeat: repeat-x;
}


#canvasbg{
  background-color:rgb(255, 255, 255);
  border-radius: 25px;
  padding 10% 10% 10% 10%;
  opacity:0.4;
  z-index: 1;
}

#canvas{
  z-index: 2;
  opacity: 0.9;


}
